                 _ _     _                        _ _
  __ _ _ __  ___(_) |__ | | ___       _ __  _   _| | |
 / _` | '_ \/ __| | '_ \| |/ _ \_____| '_ \| | | | | |
| (_| | | | \__ \ | |_) | |  __/_____| |_) | |_| | | |
 \__,_|_| |_|___/_|_.__/|_|\___|     | .__/ \__,_|_|_|
                                     |_|

  Last pull:	 {{ ansible_date_time.iso8601 }}
  Needs restart: {{ needs_restart.rc == 1 | default('FAIL') }}
  SELinux:	 {{ ansible_selinux.status | default('FAIL') }}
  ClamAV:        {{ clamav_infected_files | first | default('FAIL') }} infected files
  Chrony:        {{ chrony_status | first | default('FAIL') }}
  Firewall:      {{ ansible_facts.services['firewalld.service'].status | default('FAIL') }}
